.pp {
  position: relative;
  height: 500px;
  width: 300px;
  border-radius: 100%;
  top: 20px;
}
.Mc {
  background-color: F7F6F2;
  height: 1500px;
  text-align: center;
}
.h1 {
  position: relative;
  top: 30px;
}
.p1 {
  text-align: center;
  color: #40514e;
  padding-top: 20px;
}
hr {
  width: 10%;
  border-bottom: 0px;
  border-style: dotted none none;
  color: #ff6b6b;
  border-width: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.dndi {
  width: 300px;
  float: left;
  margin-right: 50px;
}
.skills-row {
  color: #39a6a3;
  width: 60%;
  margin: 50px auto 100px auto;
  text-align: left;
}
.p2 {
  color: #40514e;
  width: 100%;
}
.skills {
  color: #39a6a3;
}
.teai {
  width: 200px;
  border-radius: 100%;
  float: right;
}
.codei {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  float: left;
  margin-right: 50px;
}
.git {
  width: 400px;
}
